.icon {
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}

.settings-dialog {
    border: 1px #ccc solid;
    padding: 20px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: grey;
    padding-bottom: 20px;
}

.form-item {
    padding: 10px;
}