<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="80%">
        <app-tweets></app-tweets>            
        </div>
        <div fxFlex="20%" style="padding: 20px;">
        <div class="icon">
          <i class="fas fa-cog" *ngIf="!(state$ | async).settingsVisible" (click)="showSettings()" src="assets/settings.svg"></i>            
        </div>
        <div *ngIf="(state$ | async).settingsVisible">

                <app-setting></app-setting>
            </div>
        </div>
      </div>
      